body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden !important;
}

.row {
  margin-right: 0px !important;
}

/* Your custom CSS for the menu items */
.navbar-custom {
  background-color: #ffffff;
  /* Background color of the navbar */
  /*border-bottom: 1px solid #e5e5e5; !* Add a bottom border for separation *!*/
  font-family: 'Poppins', sans-serif;
  /* Use the specified font-family */
  margin-left: 2rem;
}

.navbar-custom .navbar-brand {
  font-weight: 700;
  /* Use bold font */
  font-size: 16px;
  line-height: 32px;
  color: #20282B;
  /* Text/Title color */
}

.navbar-custom .navbar-nav .nav-link {
  font-weight: 700;
  /* Use bold font */
  font-size: 16px;
  line-height: 32px;
  color: #20282B;
  /* Text/Title color */
}

.navbar-toggler {
  background-color: #FFFFFF !important;
}

.logo {
  margin-left: 10rem;
}

.menu {
  margin-left: 15rem;
}

.hero-section {
  height: auto !important;
  /*width: auto !important;*/
  background: #FFD844;
  padding-bottom: 15rem;
}

.hero-section-study-now-heading {
  /* Study Now Pay Later */
  font-style: normal;
  font-weight: 700;
  font-size: 68px;
  line-height: 80px;
  /* or 118% */
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #BC263A;
  padding-top: 2rem;
}

.hero-section-pay-later-heading {
  /* Study Now Pay Later */
  font-style: normal;
  font-weight: 700;
  font-size: 68px;
  line-height: 80px;
  /* or 118% */
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;
}

.hero-section-left {
  padding-left: 5rem;
}

.hero-section-text {
  font-style: normal;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */
  font-feature-settings: 'pnum' on, 'lnum' on;
  /* Text/Title */
  color: #20282B;
  font-weight: bolder;
}

.hero-section-para {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  /* or 169% */
  color: #20282B;
}

.btn {
  background: #BC263A;
  border-radius: 15px;
  width: 180px;
  height: 60px;
  text-decoration: none;

}

.btn-text {
  font-family: 'Montserrat', 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none !important;
  ;
}

.btn-text:hover {
  color: #FFFFFF !important;
}

.hero-img {
  padding-top: 2rem;
  padding-left: 10px;
  /*width: 75%;*/
}

/* CSS file (e.g., styles.css) */
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 30px 180px 30px;
  gap: 10px;
  width: 325px;
  height: 234px;
  margin-top: -10rem;
  background: #FFFFFF;
  border: 1.4px solid #F5BE3D;
  border-radius: 40px;
}

.col-md-4 {
  flex: 0 0 !important;
}

.box-icon {
  /* Add styles for the icon container here */
  padding-top: 1rem;
  /*margin-bottom: -40px;*/
  vertical-align: middle !important;
}

.box-heading {
  /* Add styles for the small heading here */
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 133% */
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  margin-top: -33px !important;
}

.box-paragraph {
  /* Add styles for the paragraph here */
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  /* or 144% */
  text-align: center;
  color: #20282B;
  flex: none;
  order: 2;
  flex-grow: 0;
}


.box-icon-2 {
  /* Add styles for the icon container here */
  padding-top: 3.5rem;
  margin-bottom: 10px;
}

.box-heading-2 {
  /* Add styles for the small heading here */
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 133% */
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  margin-top: -48px;

}

.box-paragraph-2 {
  /* Add styles for the paragraph here */
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  /* or 144% */
  text-align: center;
  color: #20282B;
  flex: none;
  order: 2;
  flex-grow: 0;
}


/* styles.css */

.partner-section {
  background: linear-gradient(360deg, #F0F0F0 0%, rgba(248, 248, 248, 0) 100%);
  padding: 40px;
  /* Adjust as needed for horizontal spacing */
}

.partner-heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #20282B;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-gallery-item {
  margin: 10px;
  /* Adjust as needed for spacing between images */
}

.image-gallery img {
  max-width: 100%;
  height: auto;
  /* Add more styling for images as needed */
}

/* Add this CSS to your existing stylesheet (e.g., styles.css) */

/* Styles for the image gallery container */
.image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-gallery-item {
  margin: 10px;
  /* Adjust as needed for spacing between images */
}

.image-gallery img {
  max-width: 100%;
  height: auto;
  /* Add more styling for images as needed */
}

/* Styles for the gallery navigation controls */
.gallery-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  /* Adjust for spacing between images and controls */
}

.gallery-button {
  padding: 8px 16px;
  background-color: #007BFF;
  /* Button background color */
  color: #fff;
  /* Button text color */
  border: none;
  border-radius: 4px;
  margin: 0 8px;
  /* Adjust for spacing between buttons */
  cursor: pointer;
}

.gallery-button:hover {
  background-color: #0056b3;
  /* Button background color on hover */
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.why-image {
  text-align: center;
  padding-top: 5rem !important;
}

.why-image img {
  /* max-width: 100%; */
  height: 450px;
  width: auto;
}

.why-section {
  /*text-align: center;*/
  padding-top: 5rem !important;
}

.why-choose {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #BC263A;
}

.why-taleem {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #20282B;
}

.why-section-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  font-feature-settings: 'pnum' on, 'lnum' on;
  margin-top: 20px;
  color: #20282B;
}

.why-section-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  /* or 144% */

  color: #5C5C5C;
}

.why-section-icon {
  margin-left: -45px;
}

.why-heading-text {
  margin-left: -20px;
}

.why-taleem-content {
  height: 100px;
}

.journey {
  padding-top: 3rem;
  margin-top: 3rem;
  background-image: url('../public/images/our-journey.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: auto;
  padding-bottom: 5rem;
  margin-bottom: 30px;
}

.journey-heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 150% */
  font-feature-settings: 'pnum' on, 'lnum' on;
  /* Text/Title */
  color: #20282B;
  padding-bottom: 25px;
}

.our-journey-box {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #20282B;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 30px;
  /*gap: 25px;*/

  width: 263px;
  height: 201px;

  background: #FFFFFF;
  /* shadow */
  box-shadow: 1px 23px 43px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
}

.our-journey-box-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  /*line-height: 64px;*/
  /* identical to box height, or 133% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #BC263A;
}

.our-journey-box-sub-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  /* identical to box height, or 133% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #20282B;
}

.faq-section {
  background: linear-gradient(360deg, #F0F0F0 0%, rgba(248, 248, 248, 0) 100%) !important;
  height: auto !important;
  padding-bottom: 5rem;
  margin-top: 5rem !important;
}

.faq-section-img {
  padding-top: 1rem;
  text-align: center;
  width: 400px;
  height: auto;
}

.faq-section-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height, or 117% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #BC263A;
}

.faq-section-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.005em;

  color: #5C5C5C;
}

.faq-section-right {
  padding-right: 5rem !important;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  transform: scale(.7) !important;
  color: #BC263A;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23BC263A' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

.accordion-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;

  color: #BC263A !important;
  padding-left: 30px !important;
}

.collapsed {
  color: #20282B !important;
}

.accordion-section-content {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.005em;

  color: #5C5C5C;
  background: linear-gradient(360deg, #F0F0F0 0%, rgba(248, 248, 248, 0) 100%);
  padding: 30px;
}

.card-body {
  border: none !important;
}

.accordion-button:not(.collapsed) {
  background: #FFFFFF !important;
}

.accordion-button:focus {
  background: #FFFFFF !important;
}

.footer-reachout {
  padding-top: 5rem;
  /*margin-top: 3rem;*/
  background-image: url('../public/images/reachout.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  padding-bottom: 5rem;
  margin-bottom: 30px;
}

.footer-reachout-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  /*line-height: 48px;*/
  /* identical to box height, or 150% */
  text-align: center;
  /*font-feature-settings: 'pnum' on, 'lnum' on;*/

  color: #FFD844;
}

.footer-reachout-text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  /* or 125% */
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #FFFFFF;
}

.footer-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  /* identical to box height, or 112% */

  color: #BC263A;
}

.footer-paragraph {
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  /* or 159% */

  color: #20282B;
}

.footer-menu-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  /* identical to box height, or 200% */

  color: #BC263A;
}

.footer-menu {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  /* or 250% */

  color: #20282B;
}

.footer-separator {
  width: auto !important;
  height: 0px;
  border: 1px solid #C7C9CA;
  margin: 0px 50px 0px 50px;
}

.footer-copyright {
  margin: 0px 40px 0px 50px;
}

.hero-section-semester-fee-heading {
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  /* or 118% */
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #BC263A;
  padding-top: 2rem;
}

.hero-section-semester-fee-text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  color: #20282B;
}

.hero-section-semester-fee {
  padding-bottom: 2rem;
  height: auto !important;
  /*width: auto !important;*/
  background: #FFD844;
}

.continously-expanding-heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 150% */
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* Text/Title */
  color: #20282B;
}

.loan-process-section {
  background: linear-gradient(90deg, #F0F0F0 0%, rgba(248, 248, 248, 0) 100%);
  height: auto !important;
}

.loan-process-left-section {
  padding-left: 10rem;
  padding-top: 6rem !important;
}

.loan-process-section-heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #BC263A;
}

.loan-process-section-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  /* or 169% */
  padding-right: 7rem;
  color: #20282B;
}

.loan-process-heading {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  /* identical to box height, or 150% */
  /*text-align: center;*/
  font-feature-settings: 'pnum' on, 'lnum' on;
  padding-left: 5rem;
  /* Text/Title */
  color: #20282B;
}

/* CSS */
/* CSS */
.step-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Center vertically */
  align-items: center;
  margin-right: 20px;
  /* Adjust as needed */
}

.step-number h4 {
  background-color: #BC263A;
  /* Add desired background color */
  color: white;
  /* Text color */
  border-radius: 50%;
  /* To make it circular */
  width: 51px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  /* Center the text vertically */
}

.step-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step-description h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #20282B;
}

.step-description p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  /* identical to box height, or 144% */

  color: #5C5C5C;
}

.loan-process-section-headline {
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  /* identical to box height, or 144% */
  padding-top: 20px;
  color: #5C5C5C;
  padding-bottom: 20px;
  text-align: center;
}

.bar-container {
  position: absolute;
  width: 350px;
  height: 0;
  margin-top: 19rem !important;
}

.bar {
  border: 2px solid #BC263A;
  transform: rotate(90deg);
  width: 100%;
  /* Set to 100% to cover the entire container */
  position: absolute;
  /* Position the bar absolutely within the container */
  top: 0;
  /* Place the bar at the top of the container */
  margin-left: -150px;
}

.loan-calculator-heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 150% */
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #20282B;
}

.loan-calculator-box {
  background: #FFFFFF;
  border: 1.4px solid #F5BE3D;
  /* shadow */
  box-shadow: 1px 23px 43px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
  width: 464px;
  height: auto;
  padding-bottom: 3rem;
}

.price-input {
  border: none;
  border-bottom: 1px solid #cfc4c4;
  padding: 2px;
  margin-left: 3rem;
  width: 78%;
}

/* Styles for the slider container */
.slider-container {
  width: 500px;
  margin: 0 auto;
}

/* Styles for the custom slider track (bar) */
.custom-slider {
  width: 100%;
  height: 3px;
  background: #e5acb4;
  /* Customize the background color for the slider track */
  border: none;
  outline: none;
  appearance: none;
  position: relative;
}

.custom-color {
  cursor: pointer;
  background: #e5acb4 !important;
  color: #e5acb4 !important;
}

.custom-slider::-webkit-slider-thumb {
  /*appearance: none;*/
  /* Remove the default appearance */
  width: 20px;
  height: 20px;
  background: #bc263a !important;
  /* Customize the background color for the slider thumb */
  border: 2px solid #bc263a !important;
  /* Optional: Add a border to the slider thumb */
  border-radius: 50%;
  /* Make it a circle */
  cursor: pointer;
  margin-top: -20px;
  z-index: 2;
  /* Ensure thumb appears above the custom track */
}

.custom-slider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: black !important;
  /* Background color for the selected range */
  z-index: 1;
  /* Ensure the custom track appears below the thumb */
}


/* Styles for the breakpoint labels */
.breakpoint-labels {
  display: flex;
  justify-content: space-between;
  gap: 1.3rem;
  /*margin-top: 10px;*/
}

.breakpoint-labels span {
  flex: 1;
  text-align: center;
}

.instalment-breakpoint-labels {
  display: flex;
  justify-content: space-between;
  gap: 1.3rem;
  /*margin-top: 10px;*/
}

.instalment-breakpoint-labels span {
  flex: 1;
  text-align: center;
}

.btn:hover {
  text-decoration: none;
  background: #bc263a;
}

.calculator-spacing{
  margin-left: 3rem;
  /*margin-right: 3rem;*/
}

.css-1v5z18m{
  width: 350px !important;
}

.admission-test-choose{
  background: linear-gradient(90deg, #F0F0F0 0%, rgba(248, 248, 248, 0) 100%);
}

.loan-process-section-admission {
  background: linear-gradient(2deg, #F0F0F0 0%, rgba(248, 248, 248, 0) 100%);
  height: auto !important;
}

.why-taleem-admission{
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */
  font-feature-settings: 'pnum' on, 'lnum' on;
  padding-right: 6rem;
  color: #20282B;
}

.MuiSlider-track {
  color: #bc263a !important;
}

.MuiSlider-thumb{
  color: #bc263a !important;
}

.MuiSlider-rail{
  color: #e5acb4 !important;
}

@media (min-width: 100px) and (max-width: 979px) {
  .navbar-custom {
    margin-left: 0 !important;
  }

  .hero-section {
    padding-bottom: 1rem;
  }

  .menu {
    margin-left: 0;
  }

  .hero-section-left {
    padding-left: 10px !important;
    justify-content: center !important;
  }

  .hero-section-study-now-heading {
    font-size: 52px !important;
    text-align: center !important;
  }

 .hero-section-pay-later-heading {
   font-size: 52px !important;
   text-align: center !important;
  }

  .hero-section-text {
    text-align: center !important;
  }

  .hero-section-semester-fee-heading{
    text-align: center !important;
  }

  .hero-section-semester-fee-text{
    text-align: center !important;
  }

  .hero-section-para{
    text-align: center !important;
  }

    .box {
    margin-top: 1rem !important;
    width: 250px !important;
  }

  .why-section {
    margin-left: 0px !important;
    text-align: center !important;
  }

  .why-section-icon {
    margin-left: 0px !important;
    margin-bottom: -40px !important;
  }

  .why-taleem-content {
    justify-content: center !important;
    height: auto !important;
  }

  .why-heading-text {
    margin-left: 0px;
  }

  .why-image img {
    height: auto !important;
  }

  .journey {
    padding-top: 0rem;
  }

  .journey-heading {
    padding-top: 5rem;
  }

  .faq-section-right {
    padding: 0px 20px !important;
    text-align: center !important;
  }

  .accordion-section-content {
    text-align: left !important;
  }

  .faq-section-img {
    padding-top: 1rem;
    text-align: center;
    width: 230px !important;
  }

  .footer-reachout-text {
    font-size: 18px !important;
  }

  .footer-separator {
    margin: 1px;
  }

  .footer-copyright {
    margin: 0px;
    text-align: center;
    font-size: 12px !important;
  }

  .loan-process-left-section {
    padding-left: 0rem;
    text-align: center;
    padding-top: 0rem !important;
  }

  .loan-process-section-paragraph {
    text-align: center !important;
    padding-right: 0 !important;
    padding-left: 20px !important;
  }

  .bar-container {
    display: none;
  }

  .step-number {
    margin-left: 2px;
  }

  .loan-calculator-box {
    width: auto !important;
    /*margin-left:1rem !important;*/
  }

  .calculator-spacing {
    margin-right: 0 !important;
  }

  .loan-process-heading {
    padding-left: 0rem !important;
    text-align: center !important;
  }

  .why-taleem-admission {
    font-size: 35px !important;
    padding: 0 !important;
  }
}

@media (max-width: 768px) {
  .image-gallery {
    display: block;
    text-align: center;
  }

  .footer {
    background: #FFFFFF !important;
    height: auto !important;
    display: block !important;
  }
}

@media(max-width: 400px) {
  .css-1v5z18m{
    width: 300px !important;
  }

  .breakpoint-labels {
    gap: 14px !important;
  }
  .instalment-breakpoint-labels {
    gap: 14px !important;
  }
}
@media(max-width: 350px) {
  .css-1v5z18m{
    width: 230px !important;
  }

  .breakpoint-labels {
    gap: 7px !important;
  }

  .instalment-breakpoint-labels{
    gap: 10px !important;
  }
}

/* Carousel */
.item-slider-container {
  /*background-color: var(--sp-background-color);*/
  box-shadow: 0px 0px 16px -8px rgb(0 0 0 / 68%);
}

.item-slider-container .item-title {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 15px;
}

.item-slider {
  padding: 0px 5px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.item-slider .item-container {
  display: inline-flex;
  justify-content: flex-start;
  overflow-x: scroll;
  padding: 0px 5px;
}

.item-slider .item-container span {
  margin: 0px 10px;
}

.item-slider .item-container::-webkit-scrollbar {
  display: none;
}

.item-slider .left-arrow-left {
  position: absolute;
  left: 15px;
  cursor: pointer;
  z-index: 1;
}

.item-slider .right-arrow-right {
  position: absolute;
  right: 0px;
  cursor: pointer;
  z-index: 1;
}

.right-arrow-right>svg,
.left-arrow-left>svg {
  color: #c3c3c1;
}

.right-arrow-right svg:hover,
.left-arrow-left svg:hover {
  color: #5b5b5b;
  border-radius: 50%;
}

/* Card item styles */
.item-container .card {
  border: unset;
}

.item-container .card-title {
  font-size: 14px;
  font-weight: normal;
}

.item-container .card span {
  padding: 0;
  margin: 0;
}

.item-container .card .mrp-price {
  font-size: 14px;
  font-weight: normal;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.item-container .card .save-price {
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*color: var(--sp-exam-button-color);*/
}

.item-container .card .actual-price {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}